*{
    padding: 0;
    margin : 0;
}

#content{
    width: 100%;
    margin: auto;
    margin-top: 5vh;
}

#content table{
    width: 100%;
}

#content table td:not(:first-child), #content table th:not(:first-child){
    text-align: center;
}

.pointer{
    cursor: pointer;
}